node_modules/
package-lock.json
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b/storage_v2/_src_/database/cesitonplat.ynGD5w.meta
/.idea/dataSources.xml
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b/storage_v2/_src_/database/cesitonplat.ynGD5w/schema/dbo.sYMBAA.meta
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b/storage_v2/_src_/database/cesitonplat.ynGD5w/schema/dbo.sYMBAA.zip
/.idea/discord.xml
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b.xml
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b/storage_v2/_src_/database/cesitonplat.ynGD5w/schema/INFORMATION_SCHEMA.NBgcMw.meta
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/Projet.iml
/.idea/dataSources/ecfc6c76-8669-4da8-99cb-481972bf469b/storage_v2/_src_/database/cesitonplat.ynGD5w/schema/sys.zb4BAA.meta
/.idea/vcs.xml
